<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Error Not Found</title>
</head>
<body background="https://previews.123rf.com/images/mmeida/mmeida1605/mmeida160500190/56964197-a-shot-of-a-ruined-home-in-front-of-the-full-moon.jpg" style=" background-attachment: fixed; background-size: cover; text-align:center">
    <h1>404 Page Not Found</h1>
    <form action="http://localhost:5000/", method="GET">
        <input type="submit" value="Kembali"/>
    </form>
</body>
</html>